*{
    margin: 0;
    padding: 0;
}
body{
background-color: #388b24;
font-family: Arial;
}
.body
{
    margin: 0;
    padding: 0;
    background-image: url("../img/home.png");
    background-color: #5cab11;
    background-repeat: no-repeat;
    background-position: -126px 0px;

}
.container
{
    width: 960px;
    margin: 0 auto;
    height:581px ;

}
.chemgio
{
    color: #fff;
    font-size: 19px;
    padding-top: 15px;
    line-height: 1.3;
    padding-left: 110px;
}

.footer
{
    background-color: #388b24;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 551px;
    opacity: 0.6;
    color: #fff;
}
.logo
{
    padding-left: 110px;
}
.container button
{
    width: 150px;
    height: 36px;
    border-radius: 5px;
    border: none;
    background-color: #d3f9b0;
    color: #2e7f47;
    font-weight: bold;
    padding: 5px;
    margin-right: 5px;
	font-size:15px;
}
.button
{
    margin-left: 110px;
    margin-top: 15px;

}
.container button:hover
{
    width: 150px;
    height: 36px;
    border-radius: 5px;
    border: none;
    background-color: #ffc000;
    color: #2e7f47;
    font-weight: bold;
    padding: 5px;
    margin-right: 5px;

}
.menu a
{
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    margin-right: 25px;
    text-decoration: none;

}
.menu a:hover
{
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;

}
.menu
{
    margin-top: 100px;
    /* margin-left: 54px; */
    background-image: url("../img/bar1.png");
    background-position: -301px -420px;
    padding: 15px;
    text-align: center;
}
.img1
{
    float: left;
    margin: 5px 5px 5px 5px;
    width: 190px;
}
.image
{
    width: 800px;
    padding-top: 15px;
    margin: 0 auto;
}
.button input
{
    border: none;
    height: 100%;
    width: 250px;
    border-radius: 0 5px 5px 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    float: right;
    padding-left: 14px;
    opacity: 0.5;


}
.input
{
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    margin-bottom: 10px;
}
.QMK
{
    width: 300px;
    font-size: 11px;
    color: #fff;
}
.QMK a
{
    text-decoration: none;
    color: #fff;
    margin-left: 223px;
}
.QMK p{
    float: right;
}
.QMK a:hover
{
    text-decoration: underline;
}
.tren{
    height: 326px;
}
.duoi{
}
#tren{
    height: 290px;
}
.noiphet
{
    background-image: url("../img/hethong1.png");
    background-position: -180px -106px;
    height: 50px;
    height: 50px;
    margin-top: 46px;
}
.banquyen
{
    float: left;
    margin-top: 8px;
}
.congty
{
    float: right;
}
.congty div
{
    float: left;
    /* margin: 8px; */
    margin-top: 8px;
}
.img3{
    margin-top: 8px;
}
.footer .fubyt
{
    width: 790px;
    margin: 0 auto;
}

.menu a:hover 
{
 color:#00ff00;
}