.error
{
    font-weight: bold;
    color: red;
    line-height: 2;
}

.dateimg
{
background: url("/img/tm_date.png"); 
background-repeat: no-repeat;  
padding-right: 20px;
}

.button_tm1
{
padding:15px;
margin-left:-30px;
margin-top:-5px;

}

.tmwrapping
{ 
	padding:30px 40px;
	background: white; 
	border: 1px solid #a2a2a7;
	margin-top:5px;
}

.tm_wrap2
{
 width:90%;
 margin-left:5%;
 border:1px solid #d5d5d5;
	box-shadow: 5px 5px 5px #888;
	}
	
.tm-content
{
	width:90%;
	padding-left:10%;
	padding-top:3%;
	
}

.table_hoso_tm1
{
border: 1px solid #a2a2a7; 
border-collapse: collapse; 
padding:5px;
text-align:center;
}


.banner_tm
{
width:100%;
height:50px;
background-color: #006600;
}

.body_tm
{
width:100%;

}

.body_tm2
{
margin-left: 10%;
margin-right: 5%;
}

.footer_tm
{
width:100%;
padding:10px;
background-color: #006600;
}

.banner_tm_text a
{
	padding: 10px;
	color:#fff;
	margin-left:20px;

}
.banner_tm_text
{
	margin-right:10px;
	width:100%;

}
.footer_tm_text
{
color:white;
margin-left:10px;
}

.title_tm1
{
font-weight:bold;
color: #006600;
margin-left:15px;
}

.title_tm2
{
border: 1px solid #d5d5d5;
font-weight:bold;
color: #006600;
margin-bottom:10px;
border-radius: 5px;
padding:10px;

}
.table-customer table, .table-customer th, .table-customer td
{
	border:1px solid #d5d5d5;
	padding:10px
}

.table-customer tr:hover, .table-customer th:hover, .table-customer td:hover
{
	background-color:#ededed;
}
.table-customer p
{
	line-height: 2;
}


.banner1
{	color:#FFF;
}

